<!DOCTYPE html>
<html>
<head>
	<title></title>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

</head>
<body>
	<div ng-app="">
	<!-- 	<p>Name :<input type="text" ng-model="name"> </p>
		<h1>Hello {{name}}</h1> -->
	<!-- 
	<p>Name :<input type="text" ng-model="name"> </p>
	<p ng-bind="name"></p>
 -->

<!-- <div ng-app="" ng-init="firstname='john'">
<p>The name is :<div ng-bind="firstname"></div></p>
	
</div>
 -->

<!-- 
<div ng-init="cost=6; quantity=7">dhdhf</div>

	<span>Total :</span><p ng-bind="cost * quantity"></p> -->




<!-- 
	<div ng-init="details={firstname:'venkatesh', lastname: 'S'}"></div>

	<span ng-bind="details.firstname" ></span> <span ng-bind="details.lastname"></span> -->




<!-- 
<div ng-init="details={firstname:'venkatesh', lastname: 'S'}"></div>
<p>{{details.firstname}}</p> -->





</div>


</body>
</html>