 <form><!-- login Form -->
  <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" ng-model="user.name" class="form-control" id="name" placeholder="Full name">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" ng-model="user.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" ng-model="user.password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
     <div class="form-group">
      <label for="email">Password Confirmation:</label>
      <input type="email" ng-model="user.passwordc" class="form-control" id="pwdc" placeholder="Confirm password">
    </div>
   
    <button type="submit" class="btn btn-success">Register</button>
  </form>