*{
	margin:0px;
	padding: 0px;
}


.socialicon{
	width:25px;
	margin-right: -20px;
}

.search-field{
	margin-left: 148px;
}



.menu-bar{
	margin-left: 112px;
}

.menu-bar li{
	padding-left: 20px;
	padding-right: 20px;
}

img#logo-icon {
    margin-top: -18px;
    width: 93px;
    margin-left: -78px;
}

.carousal .item img{
	width: 100%;
	height: 550px;
	filter: brightness(60%);
}
.navbar{
	margin-bottom: 0;
}




/*slide*/
.container.slide{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -20px;

}


/*tagline*/
h2.tagline {
   border: 1px solid #f1f1f1;
    padding: 8px;
    text-align: center;
}


/*rcolum text*/
.multilinetext {
    border: 1px solid #f1f1f1;
    padding: 11px;
    margin-bottom: 12px;

}
.multilinetext p{
	color: grey;
}

.multilinetext h3{
	text-align: center;
}




/*button*/
.btn-info {
    padding: 2px;
    color: #080808;
    background-color: #ddf4fb;
     border-color: #ffffff; 
    border-radius: 11px;
}





/*wrap text*/
#Wrape{
	margin-top: 20px;
	padding-top: 20px;
	    background-color: #edf1e6;
	    padding-bottom: 20px;
	    text-align: justify;
	    color: black;
}
/*wrapimage*/
.wrapimg {
    float: left;
    width: 90%;
   
}
img.back-top {
    width: 3%;
}

.container-fluid.footer {
    background-color: #4e4c4c;
    color: white;
    padding-top: 20px;
    text-align: center;
}
.footer a{
	 color: white
}


.back-top{
    position: absolute;
    bottom: 0;
    right: 0;
}
.footer ul li{
		list-style: none;
		display: inline;
		padding-left: 20px;

	}


/*////////////////////////////////////////////////////////////media query//////////////////////////////////////////*/

@media only screen and (max-width: 680px) { 

	.carousal .item img {
	    width: 100%;
	     height: 200px; 
	    filter: brightness(60%);
	}
	.carousal .item{
		margin-top: 20px;
	}

	.footer{
		text-align: center;
	}
	.footer ul li{
		list-style: none;
	}
	#logo-icon{
		margin-left: 20px;
	}
	img#logo-icon {
    margin-top: -18px;
    width: 59px;
    margin-left: -15px;
}

	.search-field {
    margin-left: 0px;
    width: 200px;
}

}

@media (min-width: 1200px){
.container.slide {
    width: auto;
  
    padding: 0;
}
}
#myNavbar hr{
	width: 945px;
	margin-left: 250px;
	margin-top: 5px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
}