<!DOCTYPE html>
<html ng-app="directoryApp" >
<head>
	<title></title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script> -->



		</head>
		<body ng-controller="directoryCtrl ">
			
			<img ng-src="{{src}}"><br>
			
			<button  ng-click="previous()"> Previous</button>
			<button ng-click="next()"> Next</button><br>

<!-- ************************************************************************************************ -->
		<img ng-src="{{src1}}"><br>
			
			<button ng-click="a(i=i-1)"> Previous</button>
			<button ng-click="a(i=i+1)"> Next</button><br>
<!-- ******************************************************************************* -->
<img ng-src="{{src2}}"><br>
			
			<button   ng-disabled="flag2" ng-click="previous1()"> Previous</button>
			<button  ng-disabled="flag1" ng-click="next1()"> Next</button><br>


			<!-- <ul>
				<li  ng-repeat="x in images"> <img ng-src="{{x.img}}"></li>
			</ul> -->




		<script type="text/javascript">
			var app= angular.module('directoryApp', []);
		

			app.controller('directoryCtrl', function($scope){


							$scope.images=[{ img: "https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg"},
									{ img: "https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" },
									{ img: "https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg"},
									{ img: "https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg"},
									{ img: "https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg"}
								];
							



							i=0;
						$scope.src="https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg";
							$scope.next=function(){
							
								
								if(i<$scope.images.length){
								
								$scope.src=	$scope.images[i].img
								i++;
								}else{
									i=0;
									$scope.src=	$scope.images[i].img
									i++;
								}
							}



								
							// var j=$scope.images.length;
							$scope.previous=function(){
							
								i--;
							
								if(i>0){

								$scope.src=	$scope.images[i].img
								}else{
									i=$scope.images.length;
									i--;
									$scope.src=	$scope.images[i].img
								}

							}

// *************************************************************************
$scope.i;
	$scope.src1="https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg";
$scope.a=function(value){
debugger;

if(value<=5 && value>=0){
	$scope.src1=	$scope.images[value-1].img
}else{
	$scope.i=0;
}
}



// ****************************************************************
j=0;
debugger;
	$scope.src2="https://s3.amazonaws.com/uifaces/faces/twitter/sauro/128.jpg";
		$scope.flag2=true;
	$scope.next1=function(){
					debugger;
								
								if(j<$scope.images.length){
								
								$scope.src2=	$scope.images[j].img
								j++;
								$scope.flag2=false;

								}else{
									$scope.flag1=true;
									$scope.flag2=false;
									
									j--;

								}

}



									$scope.previous1=function(){
										
								debugger;
									j--;
								
									if(j>0){
										 
									$scope.src2=	$scope.images[j].img
									$scope.flag1=false;
									}
								else{

									$scope.flag1=false;
									$scope.flag2=true;
								}
							}
						

							// 		$scope.previous1=function(){

							// 	debugger;
							// 		j--;
								
							// 		if(j>0){

							// 		$scope.src2=	$scope.images[j].img
							// 		}
							// 	else{
							// 		$scope.flag1=false;
							// 		$scope.flag2=true;
							// 	}
							// }
						



// *****************************************************

			});
		</script>
		</body>
		</html>